body {
    font-family: 'Edu TAS Beginner', cursive;
    background-color: aqua;
}

h1 {
    font-size: 64px;
}

.title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.joke-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gif-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}